<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="stockm.dao.AccountMapper">
    <select id="findByAccountNumber" resultType="stockm.dto.AccountDto">
        SELECT * FROM accounts WHERE accountNumber=#{accountNumber}
    </select>

    <update id="updateBalance">
        UPDATE accounts SET balance=#{balance} WHERE accountNumber=#{accountNumber}
    </update> 
    
    <select id="wholeAccount" resultType="stockm.dto.AccountDto">
        SELECT * FROM accounts 
    </select>
    
</mapper>
